


.social-icons {
    
}
.social-icons a {
    font-size: 21px;
    padding: 8px 10px 6px;
    color: #FFFFFF;
    display: inline-block;
    margin: 5px 5px;
    width: 30px;
    height: 30px;
}
 
.click-icons :hover {
   /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}
 .click-icons{ 
    width:40px;
    height:40px;
    border-radius: 50%;


 }

 .click-icons:hover {
   /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.9s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}